<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="./css/base.css">
    <link rel="stylesheet" href="./css/guestbook.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>

<body>
    <header class="header">
        <div class="container">
            <a href="./index.html" class="logo">zlh个人博客 | 技术博客</a>
            <ul class="menu">
                <li><a href="./index.html">首页</a></li>
                <li><a href="./siteMap.html">地图</a></li>
                <li><a href="./about.html">关于</a></li>
                <li><a href="./guestbook.html">留言</a></li>
            </ul>
            <!-- <div class="search">
                <input type="text" placeholder="输入关键词查找">
                <button class="search_btn">搜索</button>
            </div> -->
        </div>
    </header>
    <div class="content">
        <div class="content-left">
            <div class="decript">
                <p>欢迎灌水交流，别看我长时间不发博，博主可一直都在线~</p>
                <p>友链只交换技术类个人博客。</p>
                <p>不要皮，谢谢。</p>
                <p>博主联系:MzcxNjA0Nzg1</p>
            </div>
            <div class="blog_about_comments" id="blog_about_comments">
                <span>留言：目前有{{totalComments}} 条留言</span>

                <div class="blog_comments" v-for="(item, index) in commentsList">
                    <div class=" comments ">
                        <div class="avator"></div>
                        <div class="right">
                            <div class="comment_content">
                                <a href="#">{{item.username}}</a>：
                                <span>{{item.comments}}</span>
                            </div>
                            <div class="comment_info">
                                <span class="time">{{formatTime(item.ctime * 1000)}}</span>
                                <span class="reply" @click="reply(item.id, item.username, item.id)"><a href="#comment">回复</a></span>
                            </div>
                        </div>
                    </div>
                    <div class="comments reply_comments" v-for="(v, i) in item.reply">
                        <div class="avator"></div>
                        <div class="right">
                            <div class="comment_content">
                                <a href="#">{{v.username}}</a> 回复 <a href="#">{{v.parentname}}</a>：
                                <span>{{v.comments}}</span>
                            </div>
                            <div class="comment_info">
                                <span class="time">{{formatTime(v.ctime * 1000)}}</span>
                                <span class="reply" @click="reply(v.id, v.username, item.id)"><a href="#comment">回复</a></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="comment" id="comment">
                <h3>发表评论
                    <div class="reply_target" v-if="replyFlag">:<span @click="cancelReply"> 点击此处 </span>取消评论 <span>{{replyTarget}}</span></div>
                </h3>
                <input type="hidden" name="replyTargetId" v-model="replyTargetId">
                <input type="text" name="nickname" id="nickname" placeholder="昵称" v-model="nickname">
                <input type="text" name="email" id="email" placeholder="邮箱(评论被回复时你可以收到通知)" v-model="email">
                <textarea name="comment_content" id="comment_content" cols="80" rows="5" placeholder="无意义的内容我可能不会回复你" v-model="commentContent"></textarea>
                <input type="text" name="salt" id="salt" placeholder="验证码" v-model="salt">
                <span v-html="captchaData" id="captcha" @click="getCaptcha"></span>
                <button id="commit_btn" @click="commitComment">提交留言</button>
            </div>
        </div>
        <div class="content-right">
            <div class="right_module tag_cloud" id="random_tags">
                <div class="head">随机标签云</div>
                <div class="right_content">
                    <a href="#" v-for="(tag, index) in tags" :key="index" :style="{color: randomColor(), fontSize: randomSize()}">{{tag}}</a>
                </div>
            </div>

            <div class="right_module recent_hot" id="recent_hot">
                <div class="head">最近热门</div>
                <ul class="right_content">
                    <li v-for="(item, index) in recentBlogList" :key="index"><a :href="item.link">{{item.title}}</a></li>
                </ul>
            </div>

            <div class="right_module new_comments" id="new_comments">
                <div class="head">最新评论</div>
                <ul class="right_content">
                    <li v-for="(comment, index) in commentList" :key="index">
                        <div>
                            <span>{{comment.name}}</span>
                            <span class="pull_right">{{comment.date}}</span>
                        </div>
                        <p><a :href="comment.link">{{comment.comment}}</a></p>
                    </li>
                </ul>
            </div>

            <div class="right_module friendship_link" id="friendship_link">
                <div class="head">用到的技术链接</div>
                <table class="right_content">
                    <tbody>
                        <tr v-for="(item, index) in list" :key="index">
                            <td v-for="(v, i) in item" :key="i"><a :href="v.href">{{v.name}}</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <footer class="footer" id="footer">
        <ul>
            <li v-for="(item, index) in footerLink" :key="index">{{item}}</li>
        </ul>
        <div>© 2010-2019 zlh个人博客</div>
    </footer>
    <script src="./js/axios.min.js"></script>
    <script src="./js/base.js"></script>
    <script src="./js/guestbook.js"></script>
</body>

</html>